{% extends "monitoring_app/layout.html" %}
{% load static %}
 
{% block title %}ONSEMI{% endblock %}
<!DOCTYPE html><html lang="ko">
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}"><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
{% block content %}
<head>
</head>
<body>
        <div class="container">
            <div class="sidebar">
                <h2>기간 선택 </h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.start_date.label_tag }} {{ form.start_date }}
                    {{ form.end_date.label_tag }} {{ form.end_date }}
                    {{ form.category_order.label_tag }} {{ form.category_order }}
                    {{ form.category_service.label_tag }} {{ form.category_service }}
                    {{ form.selected_senior.label_tag }} {{ form.selected_senior }}
                    <button type="submit" class="btn">Generate Report</button>
                </form>
            </div>
            <div class="main-content">
                <h2>CSV View</h2>
                {% if data_type == 'order' %}
                <div class="heading-download-container">
                    <h2>주문 데이터</h2>
                    <div class="download-link">
                        <a href="{% url 'monitoring_app:download_order_csv' %}">
                        <span class="material-symbols-outlined">
                            download
                        </span>
                        </a>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total Cost</th>
                            <th>Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in filtered_orders %}
                                <tr>
                                    <td>{{ order.Order_ID }}</td>
                                    <td>{{ order.Product }}</td>
                                    <td>{{ order.Category }}</td>
                                    <td>{{ order.Price }}</td>
                                    <td>{{ order.Quantity }}</td>
                                    <td>{{ order.Total_Cost }}</td>
                                    <td>{{ order.Created }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% elif data_type == 'care' %}
                <div class="heading-download-container">
                    <h2>서비스 요청 데이터</h2>
                    <div class="download-link">
                        <a href="{% url 'monitoring_app:download_care_csv' %}">
                        <span class="material-symbols-outlined">
                            download
                        </span>
                        </a>
                    </div>
                </div>
                <div class="approval-bar-container">
                    <div class="completed-bar" style="width: {{ completed_rate|floatformat:1 }}%;">
                        <span>{{ completed_rate|floatformat:1 }}%</span>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Care Type</th>
                            <th>Datetime</th>
                            <th>Care State</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for care in filtered_cares %}
                            <tr>
                                <td>{{ care.care_type }}</td>
                                <td>{{ care.datetime }}</td>
                                <td>{{ care.care_state }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>서비스 이용 내역이 없습니다.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>