{% extends "monitoring_app/layout.html" %}
{% load static %}
 
{% block title %}ONSEMI{% endblock %}
<!DOCTYPE html><html lang="ko">
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}"><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
{% block content %}
<head>
</head>
<body>
        <div class="container">
            <div class="sidebar">
                {% if selected_senior %}
                <div class="senior-photo">
                    {% if selected_senior.photo %}
                        <img src="{{ selected_senior.photo.url }}" alt="{{ selected_senior.name }}">
                    {% else %}
                        <p>사진 없음</p>
                    {% endif %}
                </div>
            {% endif %}
            <h3>{{ selected_senior.name }}</h3>
            <form method="get" id="seniorForm">
                <select name="selected_senior_id" onchange="document.getElementById('seniorForm').submit();">
                    <option value="">전체</option>
                    {% for senior in seniors %}
                        <option value="{{ senior.id }}" {% if selected_senior_id == senior.id|stringformat:"s" %}selected{% endif %}>{{ senior.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="main-content">
                <div class="left-content">
                    <h2 style="margin-top:20px;">의사진단 내용</h2>
                    {% for report in reports %}
                        <div class="doctors-box">                        
                            <p class="small-light-text"> {{report.updated_at}} </p>
                            <ul>
                                <li class = "li-style"><p> 증상 요약 : 
                                    {% if report.no_issue == 1 %} 증상없음 {% endif %}
                                    {% if report.eye == 1 %} 눈 {% endif %}
                                    {% if report.teeth == 1 %} 치아 {% endif %}
                                    {% if report.skin == 1 %} 피부 {% endif %}
                                    {% if report.back == 1 %} 등 {% endif %}
                                    {% if report.other == 1 %} 기타 증상 {% endif %}
                                </p> </li>
                                <li class = "li-style"> 의사 소견 <p> {{ report.doctor_opinion }} </p> </li>
                            </ul>
                         </div>
                    {% empty %}
                        <p>진단 내용이 없습니다.</p>
                    {% endfor %}
                </div>
                <div class="right-content">
                    <div class="to_parents">
                        <h2>보호자님께 드리는 말씀</h2>
                        {% for report in reports %}
                            <hr>
                            <p class="small-light-text"> 날짜 : {{report.updated_at}} </p>
                            <p class="li-style">{{ report.user_request }}</p>
                        {% empty %}
                            <p class="li-style">보호자님께 드릴 말씀이 없습니다.</p>
                        {% endfor %}
                    </div>
                    <div class="pictures">
                        <h2>방문 사진</h2>                     
                        {% for report_img in report_imgs %}
                            <hr>
                            <p class="small-light-text"> 날짜 : {{report_img.report.updated_at}} </p>
                            <img src="{{ report_img.image.url }}">                                
                        {% empty %}
                            <p>보호자님께 드릴 사진이 없습니다.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>
