{% extends "base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/my_orders.css' %}">
  <h2 class="my-orders">주문 내역</h2>
  <div class="container">
    <div class="row">
      {% for order in orders %}
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-header">
              <hr class="hr-top-1"><hr class="hr-top-2">
              주문일시: {{ order.created }}
              <hr>
            </div>
            <div class="order-status">
              <strong>승인 여부:</strong> {{ order.approval_status }}
            <hr>
            </div>
            <div class="card-body">
              {% for item in order.items.all %}
                <div class="row mb-2">
                  <div class="col-3">
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid">
                    <span class="card-text-2">수량: {{ item.quantity }}</span>
                  </div>
                  <div class="col-6">
                    <h4 class="card-title">{{ item.product.name }}</h4>
                    <span class="card-text-1">가격: {{ item.price }}원</span>
                  </div>
                  <hr>
                </div>
              {% endfor %}
            </div>
            <div class="order-total">
              <strong>총 결제금액:</strong> {{ order.get_total_cost }} 원
            </div>
            <div class="col-7">
              <a href="{% url 'orders_app:order_detail' order.id %}" class="btn btn-primary">주문상세보기</a>
            </div>
            <hr class="hr-bottom-1"><hr class="hr-bottom-2">
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}