body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
main {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}
input[type="text"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea {
    height: 150px;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #156741;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #104e31;
}
.image-upload-container {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
}
.image-upload {
    position: relative;
    margin-right: 10px;
}
.image-upload img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.image-upload .remove-image {
    position: absolute;
    top: -20px;
    right: 0;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.add-image-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: #888;
    font-size: 24px;
    background-color: #f4f4f4;
}