.idea/

*.pyc

**/*.pyc

**/*.sqlite3

*/migrations/*
!*/migrations/__init__.py


**/migrations/*
!**/migrations/__init__.py


*.sqlite3
*.wav

*.png

*.jpg


.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

*voice_app/models

*.pem

*.env

*.jar

db_settings.py