{% extends "layout.html" %}
{% load static %}

{% block title %}ONSEMI{% endblock %}
<!DOCTYPE html>
<html lang="ko">
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'family.css' %}">
{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="/">홈</a></li>
                <li><a href="{% url 'management:list_senior' %}">등록된 어르신 리스트</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="header">
                <span>온새미</span>
                <a href="/">홈</a>
                <a href="/user/logout" class="logout">로그아웃</a>
                <a href="{% url 'management:add_senior' %}">어르신 등록</a>
            </div>
            </div>
            
        </div>
    </div>
</body>

</html>
{% endblock %}