<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "layout.html" %}
    {% load static %}
    <meta charset="UTF-8">
    {% block title %}새로운 글 등록{% endblock %}

    {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <script src="{% static 'js/upload.js' %}"></script>
    {% endblock %}
</head>
<body>

    {% block content %}
    <main>
        <h1>새로운 글 등록</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ formset.management_form }}
            <div id="image-upload-container" class="image-upload-container">
                <div class="add-image-button" id="add-image">+</div>
            </div>
            <button type="submit">업로드</button>
        </form>
    </main>
    {% endblock %}
</body>
</html>
