@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium';
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* .wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
} */

.header {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: 50px;
    width: 50px;
} 


.header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #e7f5fe;
}

.text-container {
    max-width: 50%;
}

.text-container h1 {
    font-size: 2.5em;
    color: #333;
}

.text-container h2 {
    font-size: 2em;
    color: #007bff;
}

.text-container p {
    font-size: 1.2em;
    color: #555;
}

.image-container {
    max-width: 45%;
}

.image-container img {
    width: 100%;
    height: auto;
}
#chat-list {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#chat-list img {
    width: 100%;
    height: auto;
}