@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
    display: flex;
    flex-direction: column;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}



/* 추가 스타일 */
header {

    
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    padding: 20px 0;
    z-index: 10; /* 헤더가 이미지 위에 보이도록 z-index 설정 */
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
   
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
    color: rgb(0, 0, 0);
}


nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: #156741;
}

.footer-content {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.footer-content p {
    margin: 5px 0;
    color: #555;
}

.footer-content a {
    color: #0066cc;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

#chat-link-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensures the link is above other content */
}



#chat-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#chat-link:hover {
    background-color: #0056b3;
}


#chat-link2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #516b87;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top:20px;
}

#chat-link:hover2 {
    background-color: #0f2e4f;
}

