{% extends "layout.html" %}
{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<style>
    main {
        min-width: 1000px;
    }
    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 30px;
    }
    .senior-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .senior-item {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 15px;
        margin: 10px;
        border-radius: 10px;
        transition: box-shadow 0.3s, transform 0.3s;
        text-align: center;
        width: calc(25% - 40px);
        min-width: 332px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        cursor: pointer;
        height: 350px;
        padding-top: 40px;
    }
    .senior-item:hover {
        box-shadow: 0 4px 15px rgba(0,0,0,0.2);
        transform: scale(1.05);
    }
    .senior-item img {
        border-radius: 50%;
        width: 100px;
        height: 100px;        
        object-fit: cover;
    }
    .senior-info {
        margin-top : 20px;
        text-align: left;
        width: 100%;
    }
    .senior-info ul {
        padding: 0;
        margin: 0;
        list-style: disc;
        padding-left: 20px;
    }
    .senior-info li {
        margin-bottom: 5px;
        font-size: 14px;
    }
    .actions a:last-child {
        text-decoration: none;
        font-size: 20px;
    }
    .actions a:first-child {
        text-decoration: none;
        color: gray;
        margin-right: 20px;
    }
    .actions a:last-child:hover {
        background-color: #72a858;
    }
    .actions a:first-child:hover {
        text-decoration: underline;
    }
    .actions {
        text-align: right;
        margin-right: 70px;
        margin-top: 30px;
    }
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .pagination span, .pagination a {
        display: inline-block;
        padding: 8px 16px;
        margin: 2px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-decoration: none;
        color: #333;
        background-color: #f8f8f8;
        transition: background-color 0.3s, color 0.3s;
    }
    .pagination a:hover {
        background-color: #007bff;
        color: white;
    }
    .pagination .current {
        background-color: #007bff;
        color: white;
        font-weight: bold;
        border: 1px solid #007bff;
    }
    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }
    .list-text {
        margin-left: 90px;
        font-size: 30px;
        color: #45434b;
    }
    .actions-add {
        border-radius: 5px;
        padding: 15px;
        background-color : #c2e271;
        color: #332225;
    }
    .container {
        max-width: 1700px;
        min-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dim-text {
        color: #b4b5b6;
        font-size: 20px;
        margin-left:10px;
    }
    .bbar {
        margin : 15px 10px 0px 10px;        
    }
</style>
{% endblock %}
{% block content %}
<main>
    <div class="top-bar">
        <div class="list-text">어르신 목록 <span class="dim-text">[총 {{ total_seniors }}명]<span></div>
        <div class="actions">                
            <a class="actions-back" href="{% url 'monitoring_app:family_monitor' %}">뒤로 가기</a>
            <a class="actions-add" href='/management/add/senior/'>어르신 추가 등록</a>
        </div>
    </div>
    <div class="container">
        {% if page_obj %}
            <ul class="senior-list">
                {% for senior_data in page_obj.object_list %}
                <li class="senior-item" onclick="location.href='/management/senior/update/{{ senior_data.senior.id }}/'">
                    {% if senior_data.senior.photo %}
                        <img src="{{ senior_data.senior.photo.url }}" alt="{{ senior_data.senior.name }}'s photo">
                    {% endif %}
                    <div class="senior-info">
                        <ul>
                            <li><strong>성함:</strong> {{ senior_data.senior.name }}</li>
                            <li><strong>연세:</strong> {{ senior_data.age }}</li>
                            <li><strong>성별:</strong> {{ senior_data.gender_display }}</li>
                            <li><strong>핸드폰 번호:</strong> {{ senior_data.senior.phone_number }}</li>
                            <li><strong>치매 유무:</strong> {{ senior_data.has_alzheimers_display }}</li>
                            <li><strong>파킨슨 유무:</strong> {{ senior_data.has_parkinsons_display }}</li>
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; 처음</a>
                    <a href="?page={{ page_obj.previous_page_number }}">이전</a>
                {% endif %}
                <span class="current">{{ page_obj.number }}</span> <div class="bbar">/</div> <span class="total">{{ page_obj.paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">다음</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">끝 &raquo;</a>
                {% endif %}
            </div>
        {% else %}
            <p>No seniors registered yet.</p>
        {% endif %}
        <br>
    </div>
</main>
{% endblock %}
