{% extends "layout.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}Care List{% endblock %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px 12px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f4f4f4;
            cursor: pointer;
        }

        .clickable-row {
            cursor: pointer;
        }
        .clickable-row:hover {
            background-color: #f0f0f0;
        }
        .pending-approval {
            color: #F05650 !important;
        }
    </style>
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1>케어 목록</h1>

    <form method="get">
        <label for="sort_by">정렬:</label>
        <select name="sort_by" id="sort_by">
            <option value="care_type" {% if current_sort_by == 'care_type' %}selected{% endif %}>케어 타입</option>
            <option value="datetime" {% if current_sort_by == 'datetime' %}selected{% endif %}>시간</option>
            <option value="care_state" {% if current_sort_by == 'care_state' %}selected{% endif %}>케어 상태</option>
        </select>
        <select name="order" id="order">
            <option value="asc" {% if current_order == 'asc' %}selected{% endif %}>오름차순</option>
            <option value="desc" {% if current_order == 'desc' %}selected{% endif %}>내림차순</option>
        </select>
        <label for="user">신청자:</label>
        <select name="user" id="user">
            <option value="">전체</option>
            {% for user in users %}
                <option value="{{ user.id }}" {% if user.id == selected_user %}selected{% endif %}>{{ user.username }}</option>
            {% endfor %}
        </select>
        <button type="submit">적용하기</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>케어타입</th>
                <th>시간</th>
                <th>제목</th>
                <th>상태</th>
                <th>신청자</th>
                <th>대상 어르신</th>
                <th>파킨슨병 진단 요청</th>
            </tr>
        </thead>
        <tbody>
            {% for care in page_obj.object_list %}
                <tr class="clickable-row" onclick="location.href='/management/care/list/status/update/{{care.id}}/'">
                    <td>{{ care.care_type }}</td>
                    <td>{{ care.datetime|date:"Y년 n월 j일 A g:i" }}</td>
                    <td>{{ care.title }}</td>
                    <td class="{% if care.care_state == 'NOT_APPROVED' %}pending-approval{% endif %}">{{ care.get_care_state_display }}</td>
                    <td>{{ care.user_id.username }}</td>
                    <td>{% for senior in care.seniors.all %}
                        {{ senior.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}</td>
                    <td>{% if care.parkinson_diagnosis %} O
                        {%else%}X
                        {%endif%}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- 페이지네이션 링크 추가 -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&sort_by={{ current_sort_by }}&order={{ current_order }}&user={{ selected_user }}">첫 페이지</a>
                <a href="?page={{ page_obj.previous_page_number }}&sort_by={{ current_sort_by }}&order={{ current_order }}&user={{ selected_user }}">이전</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&sort_by={{ current_sort_by }}&order={{ current_order }}&user={{ selected_user }}">다음</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&sort_by={{ current_sort_by }}&order={{ current_order }}&user={{ selected_user }}">마지막 페이지</a>
            {% endif %}
        </span>
    </div>
    {% endblock %}
</body>
</html>
