{% extends "layout.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    {% block title %}Update state{% endblock %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1>Update care status</h1>

    <form method="post">
        {% csrf_token %}
        <p>
            <label for="cotent">Content:{{ care.content }}</label>
        </p>
        <p>
            <label for="state">state:</label>
            <input type="radio" id="NOT_APPROVED" name="state" value="NOT_APPROVED" {% if care.care_state == 'NOT_APPROVED' %}checked{% endif %}>
            <label for="NOT_APPROVED">요청 접수 거절</label>
            <input type="radio" id="APPROVED" name="state" value="APPROVED" {% if scare.care_state == 'APPROVED' %}checked{% endif %}>
            <label for="APPROVED">요청 접수 완료</label>
        </p>
        <button type="submit">Update</button>
    </form>

    <br>
    <a href='/management/care/list/'>Back to List</a>
    {% endblock %}
</body>
</html>
